name: Build and Push Docker Image via Kaniko

on:
  push:
    branches:
      - main

jobs:
  kaniko-build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      # 1️⃣ Checkout source code
      - name: Checkout code
        uses: actions/checkout@v3

      # 2️⃣ Configure Docker credentials (GitHub Secrets)
      - name: Create Docker auth config
        run: |
          mkdir -p ~/.docker
          echo "{\"auths\":{\"https://index.docker.io/v1/\":{\"username\":\"${{ secrets.DOCKER_USERNAME }}\",\"password\":\"${{ secrets.DOCKER_PASSWORD }}\"}}}" \
          > ~/.docker/config.json
          echo "Docker config created at ~/.docker/config.json"

      # 3️⃣ Run Kaniko Executor
      - name: Run Kaniko
        uses: docker://gcr.io/kaniko-project/executor:latest
        env:
          DOCKER_CONFIG: /github/home/.ocker
        with:
          args: >
            --context=git://github.com/Rajbobby/simpleapp.git
            --dockerfile=dockerfile
            --destination=docker.io/krajendar/cdacros:simpleappversion1
            --force
            --cache=true
