name: Build and Push Docker Image via Kaniko

on:
  push:
    branches:
      - main
  workflow_dispatch:  # optional, allows manual run

jobs:
  kaniko-build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Configure Docker credentials
        run: |
          mkdir -p $HOME/.docker
          echo "{\"auths\":{\"https://index.docker.io/v1/\":{\"username\":\"${{ secrets.DOCKER_USERNAME }}\",\"password\":\"${{ secrets.DOCKER_PASSWORD }}\"}}}" > $HOME/.docker/config.json
        env:
          DOCKER_CONFIG: $HOME/.docker/

      - name: Build and push Docker image with Kaniko
        uses: docker://gcr.io/kaniko-project/executor:latest
        with:
          args: >
            --context=${{ github.workspace }}
            --dockerfile=dockerfile
            --destination=docker.io/krajendar/demo-argocd:latest
            --cache=true
        env:
          DOCKER_CONFIG: $HOME/.docker/
