name: Build and Push Docker Image via Kaniko

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  kaniko-build:
    runs-on: ubuntu-latest

    steps:
      # Checkout code
      - name: Checkout repository
        uses: actions/checkout@v3

      # Configure Docker credentials
      - name: Configure Docker credentials
        run: |
          mkdir -p $HOME/.docker
          echo "{\"auths\":{\"https://index.docker.io/v1/\":{\"username\":\"${{ secrets.DOCKER_USERNAME }}\",\"password\":\"${{ secrets.DOCKER_PASSWORD }}\"}}}" > $HOME/.docker/config.json
        env:
          DOCKER_CONFIG: $HOME/.docker/

      # Debug .docker folder
      - name: Debug Docker credentials
        run: |
          echo "HOME directory: $HOME"
          ls -l $HOME/.docker
          cat $HOME/.docker/config.json | sed 's/".*password.*"/"***"/'

      # Build and push Docker image
      - name: Build and push Docker image
        uses: docker://gcr.io/kaniko-project/executor:latest
        with:
          args: >
            --context=${{ github.workspace }}
            --dockerfile=${{ github.workspace }}/dockerfile
            --destination=docker.io/krajendar/cdacros:simpleappversion1
            --cache=true
        env:
          DOCKER_CONFIG: $HOME/.docker/
